.workspace {
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    width: 1080px;
/*     responsivo: fr , vmax,vmin,vw */
    margin: 10px;
    background-color: rgb(233, 233, 233);
    padding: 20px;
 
  }

  .workspace img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
/*   .sim:hover img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    padding: 50px;
  } */

.container {

    margin-left: auto;
    margin-right: auto; 
    width: 1150px;
    height: 100%;
  /*   background-color: rgb(233, 233, 233);
    padding: 7px; */
}

  .conexao {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: flex;
      float: left;
      float: inline-start;
      position: relative;
     /*  background-color: rgba(0, 4, 255, 0.5);
      color: red; */
      text-align: center;
  }

  .conexao2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    float: left;
    float: inline-start;
    position: relative;
    /* background-color: rgba(0, 4, 255, 0.5);
    color: red; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    border-color: #008CBA;
   /*  border-bottom-style: solid; */
    border-top-style: solid;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  


a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: #008CBA;
}



body {
    font-family: Verdana, sans-serif;

    /* color: #5a5a5a; */
    background-color: #333;
}

footer {
  background-color: rgb(233, 233, 233);;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.float-right {
  float: right;
}

.row {
    margin-top: 20px;
}
h4 {
    text-align: center;
    margin: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 100px;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-color: #008CBA;
    border-bottom-style: solid;
    background: linear-gradient(180deg, rgba(52,58,64,1) 45%, rgba(7,15,111,1) 100%);
    padding: 5px;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none; 
    border-style: solid;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* #div_dg_simulador {
    margin-left: auto;
    margin-right: auto; 
    width: 1000px;
    background-color: aqua;
    height: 900px;
    margin-bottom: 50px;
} */

object {
    width: 90%;
    height: 700px;
}

#btn_iniciar {
   /*  color: aqua; */
    font-weight: bold;
    border-radius: 5px;
    transform: scale(1.5);
    margin: 20px;
    padding: 5px;
}

#btn_iniciar {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    text-align: center;
    background-color: #008CBA;
    color: white;
    border-width: 1px;
}

#btn_iniciar:hover {
    background-color:  #35cdff;
}

.dg_exemplo {
    width: 35%;
    height: auto;
    float: left;
    margin-top: 30px;
}

.painel_exemplo {
    width: 55%;
    height: auto;
    float: right;
    margin-top: 30px;

}

.relatorio {
  margin-bottom: 50px;
}

#div_img_simulador {
  border-style: solid;
  border-width: 1px;
}